p {
    font-size: 16px;
}

body {
    background-color: #0066A4;
}

.jumbotron {
    background: url(https://te.columbusstate.edu/images/te_banner.jpg);
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    height: 300px;
    margin-bottom: 0px;
}

.jumbotron h2 {
    margin-left: 30px;
    margin-top:0px;
    text-shadow: 2px 2px #0066a4;
    /* bright yellow #F7F16E*/
}

.heading {
    background-color: black;
    color: white;
    height: 60px;
}

#headText {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    vertical-align: middle;
}

.explanation h2 {
    padding-left: 50px;
    padding-right: 50px;
    color:white;
}

footer {
    color:white;
}
